p { font-family: Arial;
color: white;
    
    
}
h1 { text-align: Center;
    color: red;

    
}
html{ background-color: black;
    border-style: Dashed;
    border-color: yellow;
}
a{color: blue;
}