h1 { color: Red;
    
}
html {background-color: Black;
}
ol { border-style:solid;
border-color:white;
color:Yellow;
font-size: x-large;
text-align: center;
}
li{color:white;
font-family: arial;
font-size: small; 
text-align: left;
}
p{color:yellow;
font-family:arial;
}
a {color:blue;
font-family:Arial;
text-align: center;

}